<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตัวอย่าง Footer</title>
    <style>
        body{
            position: relative;
            height: 100vh;
        }
        footer {
            position: absolute;
            bottom: 0;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
            bottom: 0;
            width: 100%;
        }
        a {
            color: #FFD700;
            text-decoration: none;
            margin: 0 10px;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <footer>
        <p>&copy; 2025 KOWIT | <a href="#">นโยบายความเป็นส่วนตัว</a></p>
    </footer>

</body>
</html>
