<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <link rel="icon" type="image/x-icon" href="img/ตราวิทยาลัย-nobg.png">
  <title><%= title %></title>
  <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        background-color: gray;
        color: white;
        height: 250px;
        text-align: center;
        align-content: center;
    }
    .avatar {
        vertical-align: middle;
        width: 100px;
        height: 200px;
        border-radius: 50%;
    }
    .label{
        margin-bottom: 1rem;
    }
   </style>
</head>
<body>
  <!--NAV-->
  <%- include('components/nav') %>
  <!--NAV-->
<header>
    <div class="laabel">
        <h1>ประวัติส่วนตัว</h1>
    </div>
    <div class="profilepic">
        <img src="img/เลือกตั้ง.jpg" alt="Avatar" class="avatar">
    </div>
    <div class="name">
        <h2>โกวิท อันชื่น</h2>
    </div>
</header>
</body>
</html>