<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <link rel="icon" type="image/x-icon" href="img/ตราวิทยาลัย-nobg.png">
  <title><%= title %></title>
</head>
<body>
  <!--NAV-->
  <%- include('components/nav') %>
  <!--NAV-->
</body>
</html>